/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* color */
:root {
  --main-color: #264653;
  --secondary-color: #3f87f5;
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
}

/* common tag */

.common-class-0 {
  min-height: 800px;
}
.common-class-1 {
  min-height: 500px;
}

/* nav bar part */
.navbar-toggler-icon {
  background-image: url("../icons/menu.svg") !important;
}

/* carousel slider section */

.carousel-item:nth-child(1) img {
  background-image: url("../images/banner-1.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.7;
}
.carousel-item:nth-child(2) img {
  background-image: url("../images/banner-2.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.7;
}
.carousel-item:nth-child(3) img {
  background-image: url("../images/banner-3.jpeg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.7;
}

.carousel .carousel-control-prev-icon {
  /* change fill="currentColor" to %23fff to make it white  */
  background-image: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" id="736d2dce-205b-4e1d-a8de-21d9524ba21c" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg"><g id="6037caba-d996-4e01-a295-2e233316e41b" data-name="Arrow Left"><path d="M16.23,23.58l2.24-2a0.5,0.5,0,0,0,0-.71L10.57,12,18.5,3.13a0.5,0.5,0,0,0,0-.71l-2.24-2a0.5,0.5,0,0,0-.71,0L5.2,12,15.52,23.54A0.5,0.5,0,0,0,16.23,23.58Z"/></g></svg>');
}

.carousel .carousel-control-next-icon {
  /* change fill="currentColor" to %23fff to make it white  */
  background-image: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" id="fa26cff6-f100-48f4-a81c-6e0cb8b1ea4a" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg"><g id="880b5b52-5578-436c-a64a-10a281e56ea6" data-name="Arrow Left"><path d="M7.77,23.58l-2.24-2a0.5,0.5,0,0,1,0-.71L13.43,12,5.5,3.13a0.5,0.5,0,0,1,0-.71l2.24-2a0.5,0.5,0,0,1,.71,0L18.8,12,8.48,23.54A0.5,0.5,0,0,1,7.77,23.58Z"/></g></svg>');
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* Use to adjust size of icons */
  width: 3rem;
  height: 3rem;
}

/* accordion part */
.accordion-item {
  border-radius: 5px !important;
  padding: 2px;
  box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  border: none !important;
}

/* Footer part */
footer {
  background-color: black;
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

footer h1 {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

footer p, a {
  font-size: 14px;
}

.footer-link a {
  text-decoration: none;
  color: #ffffff;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5x;
}

.footer-social a {
  color: white;
  font-size: 2rem;
}

.footer-social a:nth-child(1):hover {
  color: rgb(34, 34, 241);
}
.footer-social a:nth-child(2):hover {
  color: white;
}

.footer-social a:nth-child(3):hover {
  color: rgb(0, 106, 245);
}
